// Mains
html {
    scroll-behavior: smooth;
}
body {
    background-color: #f4f4f4;
    line-height: 1.4;
    font-size: 16px;
}
.section {
    padding: 20px 0px 20px 0px;
}
.bold {
    font-weight: 600;
}

// Nav
nav {
    background-color: $dark;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20%);
}
nav ul a, nav .brand-logo {
    color: white;
}
.sidenav-trigger {
    color: white;
}
nav ul li a.nuxt-link-exact-active {
    background-color: rgba(0, 0, 0, 0.2);
}

// Carousel
.carousel {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20%);
}

// Footer
.page-footer {
    background-color: #e6e6e6;
    color: #666;
}
.footer-title {
    color: #333;
}
.footer-link {
    color: #333;
    &:hover {
        opacity: 0.6;
    }
}
.footer-copyright {
    .container {
        .row {
            margin-bottom: 0px;
            color: #666;
        }
    }
}