// Mains
html {
    scroll-behavior: smooth;
}
body {
    background-color: #f4f4f4;
    line-height: 1.4;
    font-size: 16px;
}
.section {
    padding: 20px 0px 20px 0px;
}
.section-title {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
    &:before {
        content: '';
        position: absolute;
        display: block;
        width: 120px;
        height: 1px;
        background-color: #ddd;
        bottom: 1px;
        left: calc(50% - 60px);
    }
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 40px;
        height: 3px;
        background-color: #26a69a;
        bottom: 0;
        left: calc(50% - 20px);
    }
}
.bold {
    font-weight: 600;
}

// Nav
nav {
    background-color: $dark;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20%);
}
nav ul a, nav .brand-logo {
    color: white;
}
.sidenav-trigger {
    color: white;
}
nav ul li a.nuxt-link-exact-active {
    background-color: rgba(0, 0, 0, 0.2);
}

// Carousel
.carousel {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20%);
}

// Footer
.page-footer {
    background-color: #e6e6e6;
    color: #666;
}
.footer-title {
    color: #333;
}
.footer-link {
    color: #333;
    &:hover {
        opacity: 0.6;
    }
}
.social-icons {
    display: flex;
    flex-wrap: wrap;
    svg {
        margin: 0 24px 15px 0;
        &:hover {
            opacity: 0.6;
        }
    }
}
.footer-copyright {
    .container {
        .row {
            margin-bottom: 0px;
            color: #666;
        }
    }
}

.frame {
    cursor: pointer;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20);
}

// #quick-btn {
//     border: 3px solid white;
//     background-color: #26a69a;
//     width: 260px;
//     height: 70px;
//     margin: 4px;
//     padding: 0px 35px;
//     line-height: 70px;
//     font-size: 18px;
//     font-weight: 400;
// }

.quick-btn {
    border: 3px solid white;
    background-color: #26a69a;
    margin-bottom: 20px;
    color: white;
}
.quick-btn-movil {
    background-color: #26a69a;
    margin-bottom: 20px;
    color: white;
}