// Mains
p {
    line-height: 2rem;
}
body {
    background-color: #f4f4f4;
}
.section {
    padding: 20px 0px 0px 0px;
}

// Nav
nav {
    background-color: $dark;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20%);
}
nav ul a, nav .brand-logo {
    color: white;
}
.sidenav-trigger {
    color: white;
}
nav ul li a.nuxt-link-exact-active {
    background-color: rgba(0, 0, 0, 0.2);
}

// Carousel
.carousel {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20%);
}

// Footer
.page-footer {
    background-color: #e6e6e6;
}
.footer-title {
    color: rgba(0,0,0,0.87);
    font-size: 18px;
    font-weight: 600;
}
.footer-text, .footer-link {
    color: #666;
    font-weight: normal !important;
}
.footer-link {
    &:hover {
        opacity: 0.5;
    }
}
.footer-copyright {
    color: rgba(0,0,0,0.87) !important;
    font-weight: 600;
    .container {
        .row {
            margin-bottom: 0px;
        }
    }
}
/* Mobile */
@media only screen and (max-width: 600px) {
    .copyright-desktop {
        display: none;
        visibility: hidden;
    }
    .copyright-mobile {
        display: block;
        visibility: visible;
    }
}
/* Desktop */
@media only screen and (min-width: 601px) {
    .copyright-desktop {
        display: block;
        visibility: visible;
    }
    .copyright-mobile {
        display: none;
        visibility: hidden;
    }
}