// Color Palette
$dark: #444;

$dark_primary: #F57C00;
$primary: #FF9800;
$light_primary: #FFE0B2;
$accent: #FFC107;

// Text
$primary_text: #212121;
$secondary_text: #757575;
$divider: #E0E0E0;
$oposite_text: #FFFFFF;

// Background
$primary_background: #FFFFFF;
$secondary_background: #FAFAFA;